{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello ! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ '/Users/moussaillon/Desktop/Dossier requesitory symfony/TimeOut/GetTogether/src/Controller/RegistrationController.php'|file_link(0) }}">src/Controller/RegistrationController.php</a></code></li>
        <li>Your template at <code><a href="{{ '/Users/moussaillon/Desktop/Dossier requesitory symfony/TimeOut/GetTogether/templates/registration/index.html.twig'|file_link(0) }}">templates/registration/index.html.twig</a></code></li>
    </ul>
    {{ form_start(registrationForm) }}
        {{ form_errors(registrationForm) }}
        <button type="submit" class="btn">Register</button>
    {{ form_end(registrationForm) }}
</div>

{# Code Javascript pour la popup #}

{# <script>
    document.querySelector('.btn').addEventListener('click', function(e) {
        e.preventDefault();
        // Envoyer le formulaire via AJAX pour enregistrer l'utilisateur
        const form = document.querySelector('form');
        fetch(form.action, {
            method: form.method,
            body: new FormData(form)
        })
        .then(response => {
            if (response.ok) {
                // Afficher la popup de succès
                alert("Vous vous êtes bien enregistré !");
                // Rediriger vers la page de connexion après 3 secondes
                setTimeout(function() {
                    window.location.href = "{{ path('app_login') }}";
                }, 3000); // 3000 millisecondes = 3 secondes
            } else {
                alert("Une erreur s'est produite lors de l'inscription.");
            }
        })
        .catch(error => {
            console.error('Erreur :', error);
        });
    });
</script> #}


{% endblock %}
