{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController !
{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="/assets/css/17-07-23-style.css">
	<link rel="stylesheet" href="/assets/css/mathieu.css">
{% endblock %}


{% block body %}


	<main>
		<section id="inscription">
			<div class="containerfluid">
				<div class="row">
					<div class="col-12 col-md-5 background">
						<a href="#" class="logo"><img src="/assets/img/logo-gettogether-white.svg" alt=""></a>
						<div class="divBack">
							<div class="divSepa">
								<p>Étape 2 sur 3</p>
								<img src="/assets/img/step.svg" alt="" class="imgStep">
							</div>
							<h1 class="h1perso">Télécharger une photo ou<br>& choisissez un avatar.</h1>
						</div>
					</div>


					<div class="col-12 col-md-7 inscription">
						<article class="cardsub">
							<h2 class="text-center h1File">Télécharger une photo de profil</h2>
							<div class="subform" action="#" method="post">

								<div class="inputsub">
									{% for flashMessage in app.flashes('success') %}
										<div class="alert alert-success">
											{{ flashMessage }}
										</div>
									{% endfor %}

									{% for flashMessage in app.flashes('error') %}
										<div class="alert alert-danger">
											{{ flashMessage }}
										</div>
									{% endfor %}
									{{ form_start(photoForm) }}
									{{ form_widget(photoForm) }}

								</div>

							</div>

						</article>
						<h2 class="text-center pt-5 m-0">Ou choisissez un avatar</h2>
						<div class="divAvatar row"></div>
						<div class="d-flex divConfirmFile placementLeft">
							<a href="" class="row col-6 justify-content-center"><img src="/assets/img/directLeft.svg" alt="" class="col-2"><p class="col-10">retour à l'étape précédente</p></a>
							<button type="submit" class="inputsub btninscrire btn-valide colorWhite col-6" style="width: 40%; margin:0">Télécharger</button>
							{{ form_end(photoForm) }}
						</div>
					</div>
				</div>
			</div>


		</section>


	</main>

	{# <h1>PAGE DE CHOIX D'AVATAR</h1>
		<a href="{{ path('app_tags') }}">Page de tags</a> #}

	<script src="/assets/js/avatar.js"></script>
{% endblock %}
